<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pagina"></ion-back-button>
    </ion-buttons>
    <ion-title>Adicionar Plantio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>

    <ion-label position="floating">Nome: </ion-label>

    <ion-input name="nome" [(ngModel)] = "plantio.nome"> </ion-input>

  </ion-item>

  <ion-item>

    <ion-label position="floating">Solo: </ion-label>

    <ion-select [(ngModel)]="plantio.solo">
      <ion-select-option *ngFor='let solo of listaSolo | async'
        [value]="solo" >{{solo.tipo}}
      </ion-select-option>
    </ion-select>

  </ion-item>

  <ion-item>

    <ion-label position="floating">Clima: </ion-label>

    <ion-input name="clima" [(ngModel)] = "plantio.clima"> </ion-input>

  </ion-item>

  <ion-button (click)="salvar()" expand="block" >SALVAR</ion-button>

</ion-content>
